<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-3">
    <h2>View Order History</h2>
    <form th:action="@{/order/history}" method="post">
        <div class="form-group">
            <label for="authorName">Author Name:</label>
            <input type="text" class="form-control" id="authorName" name="name" placeholder="Enter author name">
        </div>
        <button type="submit" class="btn btn-primary">View History</button>
    </form>
</div>

</body>
</html>
