<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-3">
    <h2>Order History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Products</th>
                <th>Order Time</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.products}"></td>
                <td th:text="${order.orderTime}"></td>
                <td th:text="${order.author}"></td>
                <td th:text="${order.status}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
