<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-3">
    <h2>Payment Details</h2>
    <p>ID: <span th:text="${payment.id}"></span></p>
    <p>Method: <span th:text="${payment.method}"></span></p>
    <p>Status: <span th:text="${payment.status}"></span></p>

</div>
</body>
</html>
