<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Admin Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-3">
    <h2>Payment Admin Details</h2>
    <p>ID: <span th:text="${payment.id}"></span></p>
    <p>Method: <span th:text="${payment.method}"></span></p>
    <p>Status: <span th:text="${payment.status}"></span></p>
    <form th:action="@{/payment/admin/set-status/{paymentId}(paymentId=${payment.id})}" method="post">
        <input type="hidden" name="status" value="ACCEPTED">
        <button type="submit" class="btn btn-success">Accept</button>
    </form>
    <form th:action="@{/payment/admin/set-status/{paymentId}(paymentId=${payment.id})}" method="post">
        <input type="hidden" name="status" value="REJECTED">
        <button type="submit" class="btn btn-danger">Reject</button>
    </form>
</div>
</body>
</html>
