<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-3">
    <h2>Payment for Order ID: <span th:text="${order.id}"></span></h2>
    <p>Order Details: <span th:text="${order.details}"></span></p>
    <form th:action="@{/order/pay/{orderId}(orderId=${order.id})}" method="post">
        <button type="submit" class="btn btn-success">Pay Now</button>
    </form>
</div>

</body>
</html>
