<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Payments</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-3">
    <h2>All Payments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Method</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="payment : ${payments}">
                <td th:text="${payment.id}"></td>
                <td th:text="${payment.method}"></td>
                <td th:text="${payment.status}"></td>
                <td>
                    <a th:href="@{/payment/admin/detail/{paymentId}(paymentId=${payment.id})}" class="btn btn-info">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
